@using PracticePanther.Api.Model
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewBag.Title = "GetAccounts";

    var data = (IPagedList<Account>)ViewData["Account"];
}


<h1>Accounts</h1>
<div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created Date</th>
                <th scope="col">Id</th>
                <th scope="col">City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Account contact in data)
            {
                <tr>
                    <td>@contact.DisplayName</td>
                    <td>@contact.CreatedAt</td>
                    <td>@contact.Id</td>
                    <td>@contact.AddressCity</td>
                </tr>
            }
        </tbody>
    </table>
    <nav>
        @Html.PagedListPager((IPagedList)data, page => Url.Action("Accounts", new { page = page }), new PagedListRenderOptions()
            {
                ActiveLiElementClass = "active",
                PageClasses = new[]{ "page-link"},
                LiElementClasses=new[] { "page-item" },
                UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
                LinkToNextPageFormat = "Next",
                LinkToPreviousPageFormat = "Previous",
                MaximumPageNumbersToDisplay = 5,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always
            })
        </nav>
</div>

